extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1 Learncoderate
          small &nbsp;Find the coding resource you need!
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        .col-xs-12.list-group-item
          h4
            a(href='https://www.python.org/about/gettingstarted/', target='blank') Python Intro
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 100 votes
          p
            This article will help you undestrand the basics of python ..
        .col-xs-12.list-group-item
          h4
            a(href='https://www.python.org/about/gettingstarted/', target='blank') Python Multi-Threading
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 50 votes
          p
            Advanced material if you want to play with multi threading and such ..
    .col-sx-12.col-sm-4
      p.lead Looking for a great coding resource? Learncoderate is the right place to find the good stuff!