extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1 Learncoderate
          small &nbsp;Find the coding resource you need!
  .row
    .col-xs-12.col-sm-8
      p List area.
    .col-sx-12.col-sm-4
      p.lead Learncoderate helps you find the right resources for you.
